---
import InfoIcon from "$lib/icons/ui/info.svg?raw";

interface Props {
  icon?: string;
  title: string;
  style?: "normal" | "elevated";
}

const { icon = InfoIcon, title, style = "normal" } = Astro.props;
---

<div class:list={["card", { elevated: style === "elevated" }]}>
  <div class="icon-slot">
    <slot name="icon">
      <Fragment set:html={icon} />
    </slot>
  </div>
  <hgroup>
    <span>{title}</span>
    <div>
      <slot />
    </div>
  </hgroup>
</div>

<style>
  .card {
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
    align-items: center;
    color: black;
    border: 1px solid #616161;

    & hgroup {
      margin-left: 1rem;
      display: block !important;

      & span {
        font-family: JetBrains Mono, monospace;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 0.25rem;
        color: black;
      }

      & div {
        display: block;
        color: #000000A6;
        font-size: 0.875rem;
        line-height: 1.25;
      }

      & a {
        color: black;
        border-bottom: 2px solid #616161;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .elevated {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(68, 65, 58, .12);

    & hgroup {
      & span {
        color: black;
      }
    }
  }
</style>
