{{- $opts := dict "minify" true "target" "es2020" "format" "esm" "params" (dict "shopify" site.Params.shopify) -}}
{{- with resources.Get "js/main.js" -}}
  {{- with . | js.Build (merge $opts (dict "targetPath" "js/main.js")) | fingerprint }}<script type="module" src="{{ .RelPermalink }}"></script>{{ end -}}
{{- end -}}
{{- with .Params.js -}}
  {{- with resources.Get (printf "js/pages/%s.js" .) -}}
    {{- with . | js.Build (merge $opts (dict "targetPath" (printf "js/%s.js" $.Params.js))) | fingerprint }}<script type="module" src="{{ .RelPermalink }}"></script>{{ end -}}
  {{- end -}}
{{- end -}}
